body {
    background-color: 8B0000;

}
 td {
    border: 1px solid black;
}

th {
    background-color: orange;
    border: 1px solid black;

}
table {
    background-color: 9f6e75;
}

.logo {
    background-color: black;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50%;
}

.homePageSection {
    background-color: indianred;
    border: 2px solid black;
    margin-top: 15px;
    padding-bottom: 10px;
}


.homePageSection h2 {

    background-color: rgb(119, 45, 45);
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.homePageSection p {

    color: rgb(41, 38, 38);

}ss

.homePageSection img {
    border: 2px solid rgb(161, 94, 94);
}

.homePageSection hr{
    background: url('skelly-row-removebg-preview.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 30px;
    border: 0;
    position: relative;
}

.characterIntro {
    background-color: indianred;
    border: 2px solid black;
    margin-top: 15px;
    padding-bottom: 10px;
}

.characterIntro h1, h2 {

    background-color: rgba(126, 45, 45, 0.89);
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.characterIntro h2 {

    background-color: rgba(156, 57, 57, 0.89);
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.characterIntro p {

        color: rgb(41, 38, 38);

    }

.characterIntro img {
        border: 2px solid rgb(161, 94, 94);
    
.olympianCell {

    text-align: justify;

}

.olympianCell img{

    display: block;
    margin: 0 auto;
    
}
.weaponCell {

    text-align: justify;
    display: block;
    margin: 0 auto;
    
}

.column {
    float: left;
    width: 50%;
    height: 200px;
    padding: 0px;
  }

 