body {
    background-color: 8B0000;

}
 td {
    border: 1px solid black;
}

th {
    background-color: orange;
    border: 1px solid black;

}
table {
    background-color: 9f6e75;
}


.olympianCell {

    text-align: justify;

}

.olympianCell img{

    display: block;
    margin: 0 auto;
    
}

.column {
    float: left;
    width: 50%;
    height: 200px;
    padding: 0px;
  }