.sidenav {
    height: 100%;
    width: 160px;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(41, 38, 38);
    overflow-x: hidden;
    padding-top: 20px;
  }

  
.main {
    position: relative;
    margin-left: 160px;
    padding: 0px 10px;

}

.main .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../HTML/Images/Olympians/hades_bg.jpg);
    opacity: .2;
    background-size: contain;
}

.sidenavSubitem {
    list-style-type:none;
}

.sidenavSubitem li a{
    padding: 0px 8px 6px 0px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


  .sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(160, 139, 21);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }


body {
    background-color: 8B0000;

}

p{
    font-size: 14px;
}

th {
    background-color: orange;
    border: 1px solid black;

}

table {
    background-color: 9f6e75;
}

.logo {
    background-color: black;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50%;
}

/* info section stylings */

.infoSection {
    background-color: indianred;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    text-align:center;
    width: 80%;
}


.infoSection h1, h2, h3 {

    background-color: rgb(119, 45, 45);
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align:center;

}

.infoSection p {

    color: rgb(41, 38, 38);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.infoSection img {
    border: 2px solid goldenrod;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

.infoSection hr{
    background: url('Images/OtherCharacters/skelly-row-removebg-preview.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 30px;
    border: 0;
    position: relative;
}

/* table stylings */
.infoSection table{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.infoSection table tr td p {
    font-weight:bold ;
    text-align: center;

}

.infoSection table tr td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infoSection table tr td{
    text-align: center;
    border: 1px solid black;

}

.info img{

    width: 40%;
    margin-left: auto;
    margin-right: auto;

}


.olympianCell {

    text-align: justify;;

}

.olympianCell img{

    display: block;
    margin: 0 auto;
    
}
.weaponCell {

    text-align: justify;
    display: block;
    margin: 0 auto;
    
}

.column {
    float: left;
    width: 50%;
    height: 200px;
    padding: 0px;
  }

 